<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Data Realização</th>
      <th scope="col">duração</th>
      <th scope="col">professor</th>
      <th scope="col">Tot. Vagas</th>
      <th scope="col">Vag. Preenchidas</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let miniCurso of miniCursos">
      <td>{{miniCurso.nome}}</td>
      <td>{{miniCurso.dataRealizacao | date:'medium'}}</td>
      <td>{{miniCurso.duracaoPrevista}}h</td>
      <td>{{miniCurso.nomeProfessor}}</td>
      <td>{{miniCurso.totalVagas}}</td>
      <td>{{miniCurso.vagasPreenchidas}}</td>
      <td><button class="btn btn-primary" [disabled]="miniCurso.totalVagas === miniCurso.vagasPreenchidas" (click)="inscreverParticipanteMiniCurso(miniCurso.id)" >Inscrever-se</button></td>
    </tr>
  </tbody>
</table>

